<h1>New Orders  items</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.orders__items_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.orders__items_path(@conn, :index) %></span>
